<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body{
            background-color: #FFF1DB;
        }
        h2{
            text-align: center;
            text-transform:capitalize;
        }
        p{
            text-align: center;
            font-size: 1.1rem;
        }
    </style>
</head>
<body>
    <h2>{{ user.username }}'s Profile</h2>
    <p>Welcome, {{ user.username }}! , Its your Profile page</p>
</body>
</html>